.audioPlayer {
  background: #cfd3d6;
  display: flex;
  flex-direction: column;
  gap: 25px;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 60%;
  padding: 1.5%;
}

.playPause {
  background: transparent;
  border: none;
  color: #f0f8ff;
  align-self: flex-start;
  cursor: pointer;
  flex-grow: 5;
}

.input_range {
  width: 100%;

  cursor: pointer;
  --seek-before-width: 0;
  background: transparent;
  /* Hides the slider so custom styles can be added */
}

.input_range::-webkit-slider-runnable-track {
  background: white;
  border-radius: 25px;
}

.input_range::-ms-thumb {
  background: black;
}

#slider {
  width: 100%;
}
